.drop-zone {
    height:100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;

    &--hidden {
        display: none;
    }
    
    &__box {
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        border: solid 3px rgb(38, 61, 65);
        background-color: rgb(30, 73, 90);
        text-align: center;
        min-height: 200px;
        max-width: 500px;
        border-radius: 10px;

    }

    &__text {
        color: white;
        font-family: Roboto, "Open Sans", sans-serif;
        font-size: 1.5rem;
        text-shadow: 2px 2px #0a0a1d;
    }
}